language: ruby
cache: bundler
rvm:
  - 2.2
  - 2.3
  - 2.4
  - ruby-head
  - jruby
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby
before_install:
  - gem update bundler
deploy:
  provider: rubygems
  email: developer@amadeus.com
  api_key:
    secure: [insert travis key]
  on:
    tags: true
