---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=abc123&client_secret=def234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Ama-Gateway-Request-Id:
      - rrt-02cc7c27492e1359a-b-eu-14032-18045478-1
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"cristiano@betta.io\",\n            \"application_name\": \"BetaTest_cbetta\",\n
        \           \"client_id\": \"abc123\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"MSXx1jNrwe0RJAwfV2P5rvWKVTwA\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Fri, 24 Nov 2017 11:02:00 GMT
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer MSXx1jNrwe0RJAwfV2P5rvWKVTwA
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Ama-Gateway-Request-Id:
      - rrt-007569a84b3a191ad-a-eu-14544-18051312-2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n        {\n            \"error\":\"invalid_request\",\n            \"error_description\":
        \"Only client_id, client_secret and grant_type parameters are allowed in the
        body\",\n            \"code\": 38187,\n            \"title\": \"Invalid parameters\"\n
        \       }\n        "
  recorded_at: Fri, 24 Nov 2017 11:02:01 GMT
recorded_with: VCR 3.0.3
