---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=abc123&client_secret=def234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Ama-Gateway-Request-Id:
      - rrt-08097fc2483a32805-c-eu-15596-17971986-2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"cristiano@betta.io\",\n            \"application_name\": \"BetaTest_cbetta\",\n
        \           \"client_id\": \"abc123\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"rghQPhQhoud0gtghohg5HpRisfmN\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Fri, 24 Nov 2017 11:02:01 GMT
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=abc123&client_secret=def234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer rghQPhQhoud0gtghohg5HpRisfmN
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Ama-Gateway-Request-Id:
      - rrt-01d6647500802f8cb-a-eu-14367-17991045-2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n                {\n                    \"error\":\"invalid_client\",\n
        \                   \"error_description\": \"Client credentials are invalid\",\n
        \                   \"code\": 38187,\n                    \"title\": \"Invalid
        parameters\"\n                }\n            "
  recorded_at: Fri, 24 Nov 2017 11:02:01 GMT
recorded_with: VCR 3.0.3
