---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=abc123&client_secret=def234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Ama-Gateway-Request-Id:
      - rrt-03489e325e6bcf6de-c-eu-12766-18693766-2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"cristiano@betta.io\",\n            \"application_name\": \"BetaTest_cbetta\",\n
        \           \"client_id\": \"abc123\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"ySBMXEC2ac0pEM8gFiU1Vc8B1F8m\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Fri, 24 Nov 2017 11:02:23 GMT
recorded_with: VCR 3.0.3
