---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=abc123&client_secret=def234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Ama-Gateway-Request-Id:
      - rrt-01d6647500802f8cb-a-eu-14367-17992953-1
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"cristiano@betta.io\",\n            \"application_name\": \"BetaTest_cbetta\",\n
        \           \"client_id\": \"abc123\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"NAvxmr0pTSTScODn5VRPcVv98FZ9\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Fri, 24 Nov 2017 11:05:37 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v2/reference-data/urls/checkin-links?airline=1X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer NAvxmr0pTSTScODn5VRPcVv98FZ9
  response:
    status:
      code: 200
      message: OK
    headers:
      Ama-Gateway-Request-Id:
      - rrt-02cc7c27492e1359a-b-eu-14033-18046966-1
      Ama-Request-Id:
      - 6O6WZZX5HD
      Content-Type:
      - application/vnd.amadeus+json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "warnings": [
                {
                    "status": 200,
                    "code": 10151,
                    "title": "DEFAULT LANGUAGE USED",
                    "detail": "Language not available for this airline, default language applied",
                    "source": {
                        "parameter": "language"
                    }
                }
            ],
            "meta": {
                "count": 2,
                "links": {
                    "self": "https://test.api.amadeus.com/v2/reference-data/urls/checkin-links?airline=1X"
                }
            },
            "data": [
                {
                    "type": "checkin-link",
                    "id": "1XEN-GBWeb",
                    "href": "https://www.onex.com/manage/check-in",
                    "channel": "Web"
                },
                {
                    "type": "checkin-link",
                    "id": "1XEN-GBMobile",
                    "href": "https://checkin.onex.com/mci/start",
                    "channel": "Mobile"
                }
            ]
        }
  recorded_at: Fri, 24 Nov 2017 11:05:37 GMT
recorded_with: VCR 3.0.3
