---
http_interactions:
- request:
    method: get
    uri: https://test.api.amadeus.com/v2/reference-data/urls/checkin-links
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Ama-Gateway-Request-Id:
      - rrt-08097fc2483a32805-c-eu-15594-17973678-1
      Content-Type:
      - application/vnd.amadeus+json
      Www-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="oauth.v2.InvalidAccessToken:
        Invalid access token"'
    body:
      encoding: UTF-8
      string: "\n            {\n                \"errors\": [\n                        {\n
        \                           \"code\": 38191,\n                            \"title\":
        \"Invalid HTTP header\",\n                            \"detail\": \"Bearer
        keyword missing in the Authorization header\",\n                            \"status\":
        \"401\"\n                        }\n                ]\n            }\n        "
  recorded_at: Fri, 24 Nov 2017 11:05:37 GMT
recorded_with: VCR 3.0.3
