---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=abc123&client_secret=def345
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Ama-Gateway-Request-Id:
      - rrt-08e05f2d759518ce8-b-eu-15359-17443022-1
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"cristiano@betta.io\",\n            \"application_name\": \"BetaTest_cbetta\",\n
        \           \"client_id\": \"abc123\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"btMkpADWwG3XjQw1vQTDO5YdGwxc\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Thu, 23 Nov 2017 11:26:48 GMT
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=abc123&client_secret=def345
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer btMkpADWwG3XjQw1vQTDO5YdGwxc
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Ama-Gateway-Request-Id:
      - rrt-02cc7c27492e1359a-b-eu-14031-17445955-1
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n                {\n                    \"error\":\"invalid_client\",\n
        \                   \"error_description\": \"Client credentials are invalid\",\n
        \                   \"code\": 38187,\n                    \"title\": \"Invalid
        parameters\"\n                }\n            "
  recorded_at: Thu, 23 Nov 2017 11:26:48 GMT
recorded_with: VCR 3.0.3
