---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=123&client_secret=345
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Ama-Gateway-Request-Id:
      - rrt-08e05f2d759518ce8-b-eu-15359-17595114-3
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"fault":{"faultstring":"Spike arrest violation. Allowed rate : 10ps","detail":{"errorcode":"policies.ratelimit.SpikeArrestViolation"}}}'
  recorded_at: Thu, 23 Nov 2017 17:08:04 GMT
recorded_with: VCR 3.0.3
