---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=abc123&client_secret=def345
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Ama-Gateway-Request-Id:
      - rrt-01d6647500802f8cb-a-eu-14366-17391651-1
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"cristiano@betta.io\",\n            \"application_name\": \"BetaTest_cbetta\",\n
        \           \"client_id\": \"abc123\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"2OrCiaYveTDufXdAM6awKXM6UuIW\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Thu, 23 Nov 2017 11:26:47 GMT
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 2OrCiaYveTDufXdAM6awKXM6UuIW
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Ama-Gateway-Request-Id:
      - rrt-08097fc2483a32805-c-eu-15597-17372864-1
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n        {\n            \"error\":\"invalid_request\",\n            \"error_description\":
        \"Only client_id, client_secret and grant_type parameters are allowed in the
        body\",\n            \"code\": 38187,\n            \"title\": \"Invalid parameters\"\n
        \       }\n        "
  recorded_at: Thu, 23 Nov 2017 11:26:47 GMT
recorded_with: VCR 3.0.3
