---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=abc123&client_secret=def345
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Ama-Gateway-Request-Id:
      - rrt-08e05f2d759518ce8-b-eu-15359-17443183-1
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"cristiano@betta.io\",\n            \"application_name\": \"BetaTest_cbetta\",\n
        \           \"client_id\": \"abc123\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"ArQzaOevBpREbeZngGEQ4003Ae4V\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Thu, 23 Nov 2017 11:26:46 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v2/reference-data/urls/checkin-links
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ArQzaOevBpREbeZngGEQ4003Ae4V
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Ama-Gateway-Request-Id:
      - rrt-02cc7c27492e1359a-b-eu-14031-17446118-1
      Ama-Request-Id:
      - 619DPZVBSN
      Content-Type:
      - application/vnd.amadeus+json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "errors": [
                {
                    "status": 400,
                    "code": 32171,
                    "title": "MANDATORY DATA MISSING",
                    "detail": "Missing mandatory query parameter",
                    "source": {
                        "parameter": "airline"
                    }
                }
            ]
        }
  recorded_at: Thu, 23 Nov 2017 11:26:47 GMT
recorded_with: VCR 3.0.3
