---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=123&client_secret=345
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Ama-Gateway-Request-Id:
      - rrt-03489e325e6bcf6de-c-eu-12767-18246169-2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"cristiano@betta.io\",\n            \"application_name\": \"BetaTest_cbetta\",\n
        \           \"client_id\": \"123\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"6pgvKAZ3ZnDElR9JgCb4uBTHpJVo\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Thu, 23 Nov 2017 17:08:03 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v2/reference-data/urls/checkin-links?airline=1X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6pgvKAZ3ZnDElR9JgCb4uBTHpJVo
  response:
    status:
      code: 200
      message: OK
    headers:
      Ama-Gateway-Request-Id:
      - rrt-08097fc2483a32805-c-eu-15597-17524878-2
      Ama-Request-Id:
      - 6EH2PZVRLF
      Content-Type:
      - application/vnd.amadeus+json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "warnings": [
                {
                    "status": 200,
                    "code": 10151,
                    "title": "DEFAULT LANGUAGE USED",
                    "detail": "Language not available for this airline, default language applied",
                    "source": {
                        "parameter": "language"
                    }
                }
            ],
            "meta": {
                "count": 2,
                "links": {
                    "self": "https://test.api.amadeus.com/v2/reference-data/urls/checkin-links?airline=1X"
                }
            },
            "data": [
                {
                    "type": "checkin-link",
                    "id": "1XEN-GBWeb",
                    "href": "https://www.onex.com/manage/check-in",
                    "channel": "Web"
                },
                {
                    "type": "checkin-link",
                    "id": "1XEN-GBMobile",
                    "href": "https://checkin.onex.com/mci/start",
                    "channel": "Mobile"
                }
            ]
        }
  recorded_at: Thu, 23 Nov 2017 17:08:03 GMT
recorded_with: VCR 3.0.3
